.img:hover{
	cursor: pointer;
	border: white ;

}
.img{
	border-radius: 4px;
	width: 180px;
	height: 150px;
	margin: 10px;
	border: white 10px solid;
}
.image-card{
	display: inline-flex;
	text-align: center;
	flex-wrap: nowrap;

}
.field input{
	margin-top: -20px;
	width: 30%;
}
.card img{
	position: relative;
}
.card label{
	border: 0px;
	bottom: solid white;
	margin-left: 20px;
	color: #ffffff;
	text-align: center;
	position: absolute;
	margin-top: -50px;
	opacity: 0.8;
}
.card span{
	padding-top: 20px;
	display: none;
}
.card .button{
    border: none;
    margin-top: -10px; 
}
.loader-container{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 999;
    position: fixed;
    background-color: #555555;
}

.loader-container.hidden{
	display: none;
}

@keyframes loader{
    0%{
        transform: translateY(25%);
    }
    25%{
        transform: translateY(50%);
    }
    50%{
        transform: translateY(25%);
    }
    100%{
        transform: translateY(0%);
    }
}
#card-display{
    width: 400px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white !important;
    font-weight: bold;
}

.loaders{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: loader 1s infinite linear;
    transform: translate(-50%, -50%);
    color: whitesmoke;
}
.card-image img{
    border: none !important;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
#card-container{
    display: flex;
    margin: 10px;
    padding: 5px;
}
#card-conatiner div{
    margin: 10px;
    padding: 5px;
}
.card-footer{
    z-index: 999;
    color: white;
}