
/*html animation*/
html {
   background-color: rgb(30, 31, 31);
}

@keyframes transition-global{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
/*html animation*/

.container2Unique{
    transition: 1s ease-in-out;
    background-size: cover;
   background-image: url("../images/IMG_2801.JPG") !important;
   width: 100%;
   height: 100vh;
}
.container2Craft{
     transition: 1s ease-in-out;
     background-size: cover;
     background-image: url("../images/IMG_2859.JPG") !important;
    width: 100%;
    height: 100vh;
}
.container2Discover{
    transition: 1s ease-in-out;
    background-size: cover;
   background-image: url("../images/IMG_2847.JPG") !important;
   width: 100%;
   height: 100vh;
}
.container2Zoom{
    transition: 1s ease-in-out;
    background-size: cover;
   background-image: url("../images/IMG_2800.JPG") !important;
   width: 100%;
   height: 100vh;
}
.navbar {
    background: none;
    border: none;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    color: white;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    animation: nav-start 4s;
}

@keyframes nav-start{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        transform: translateX(0px);
    }
}
.navbar div {
    margin: auto;
}
a{
    color: white !important;
    margin: 0 10px;
}
.navbar-center {
    animation: rotate 1s infinite;
}
a:hover{
    color: rgb(127, 171, 228) !important;
}
@keyframes rotate{
    0%{
        transform: rotateZ(360deg);
    }
    5%{
        transform: rotateZ(0deg);
    }
    15%{
        transform: rotateZ(0deg);
    }
    20%{
        transform: rotateZ(0deg);
    }
    25%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(0deg);
    }
    75%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}
/*section animation*/
.section {
    position: absolute;
    top: 70px;
    color: blanchedalmond;
   right: 0;
    animation: transition-right 2s;
    z-index: 999;
}
@keyframes transition-right{
    0%{
        transform: rotate(180deg) translateX(100px);
    }
    50%{
        transform: rotate(-10deg) translateX(-50px);
    }
    100%{
        transform:  translateX(0);
    }
}
.section :nth-child(1){
    animation: transition-right 2s;
}
.section :nth-child(2){
    animation: transition-right 2.4s;
}
.section :nth-child(3){
    animation: transition-right 2.8s;
}
.section :nth-child(4){
    animation: transition-right 3s;
}
.section .title {
    font-size: 70px;
    text-decoration: underline;
    color: rgb(247, 242, 234);
    cursor: pointer;
}

.section .title:hover{
    transition: color 0.5s;
    color: rgba(7, 68, 68, 0.767);
}

/*section animation*/
.aside .title {
    margin-left: 5%;
    text-decoration: underline;
    position: absolute;
    top: 30%;
    color: rgb(243, 240, 235);
    cursor: pointer;
    animation: transition-left 5s;
    opacity: 0;
}
@keyframes transition-left{
    0%{
        opacity: 1;
        transform: translateX(-10px);
    }
    100%{
        opacity: 0;
        transform: translateX(-20px);
    }
}
/*aside animation*/


/*footer animation*/
.footer{
    position: absolute;
    top: 90%;
    left: 50%;
    margin: 0 10px;
    transform: translateX(-50%);
    color: white;

}
.footer i{
    cursor: pointer;
    animation: transition-bottom 2s;
}
@keyframes transition-bottom{
    0%{
        transform: translateY(-50px);
    }
    50%{
        transform: rotateY(180deg) translateY(50px);
    }
    100%{
        transform: rotateY(-180deg)  translateY(0);
    }
}
.black{
    transition: 2s ease-in-out;
    color: rgb(56, 56, 56) !important;
}
.white{
    transition: 2s ease-in;
    color: white !important;
}
/*footer animation*/

/*contact components*/
@media screen and (min-width: 1110px){
    .card-links{
        margin-top: -500px;
    }
}
@media screen and (max-width: 740px){
    .card-links .subtitle{
        color: white;
        font-weight: bold;
    }
}
.container3{
    margin-top: 50px;
    right: 10%;
    margin: auto;
    width: 80%;

    background-color: white;
}
.first-card:hover{
    cursor: no-drop;
    transition: 0s;
    transform: scale(1) translateY(0px) translateX(0px) !important;
}
.banner{
    margin-top: 50px;
}
.card{
    width: 100%;
    margin: 20px auto;
    padding: 10px;
}
.card .title{
    text-align: center;
    margin: auto;
    text-decoration: overline;
}
.card-social-media{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 3%;
}
.card-social-media i{
    margin: 10px 0px;
    font-size: 30px;
    cursor: pointer;
}
.card-links{
    margin-top: -270px;
    text-align: center;
}
.container .columns{
    padding: 10px;
    margin-top: 20%;
    display: flex;
}
/*contact components*/

/*vue js animation*/

.fade-enter-active{
    transition: 2s;
}
.fade-leave-active{
    transition: 0.5s;
}
.fade-leave-to, .fade-enter{
    opacity: 0;
    transform:  translateY(50px);
}
.show-enter-active, .show-leave-active{
    transition: 0.3s;
}
.show-leave-to, .show-enter{
    opacity: 0;
}
.show{
    transition: 2s;
    transform: scale(1) translateX(0px);
}
.hide{
    color: white;
    transition: 2s;
    transform: scale(0) translateX(-500px) rotateY(360deg);
}

/*vue js animation*/

/*image transition*/
.image-transition{
    border-radius: 5px;
    width: 300px;
    height: 200px;
    position: absolute;

}
#img1{
    top: 50%;
    left: 10%;
    animation: transition1 2s;
}
#img2{
    top: 10%;
    left: 20%;
    animation: transition2 3s;
}
#img3{
    bottom: 10%;
    right: 20%;
    animation: transition3 4s;
}
#img4{
    bottom: 50%;
    right: 10%;
    animation: transition4 5s;
}

@keyframes transition1{
    0%{
        opacity: 0;
    }
    60%{
        opacity: 0;
        transform: translateX(-5px);
    }
    100%{
        opacity: 1;
    }
}
@keyframes transition2{
    0%{
        opacity: 0;
        transform: translateX(10px);
    }
    65%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes transition3{
    0%{
        opacity: 0;
        transform: translateX(-10px);
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes transition4{
    0%{
        opacity: 0;
        transform: translateX(-10px);
    }
    75%{
        opacity: 0;
    }
    85%{
        opacity: 0.2;
    }
    100%{
        opacity: 1;
    }
}
.appearG-enter-active, .appearG-leave-active{
    transition: 2s;
}
.appearG-leave-to, .appearG-enter{
    opacity: 0;
    transform:  translateX(-30px) translateY(10px);
}
.appearB-enter-active, .appearB-leave-active{
    transition: 2s;
}
.appearB-leave-to, .appearB-enter{
    opacity: 0;
    transform:  translateY(30px);
}
.appearH-enter-active, .appearH-leave-active{
    transition: 2s;
}
.appearH-leave-to, .appearH-enter{
    opacity: 0;
    transform:  translateY(-30px);
}
.appearD-enter-active, .appearD-leave-active{
    transition: 2s;
}
.appearD-leave-to, .appearD-enter{
    opacity: 0;
    transform:  translateX(30px) translateY(-10px);
}
/*card column*/
.column{
    margin: 0 auto;
}
#card:hover{
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1.05) translateY(-10px) translateX(-10px);
}
.card{
    border-radius: 5px;
}
.cardheader{
    display: flex;
    justify-content: space-around;
}
.card-link{
    line-height: 27px;
}
.card-link p{
    padding-bottom: 5px;
    color: white;
    font-weight: 600;
    border-radius: 20px;
    width: 60%;
    text-align: center;
    background-color: rgb(2, 78, 241);
}
.card-footer-items{
    display: flex;
}
.modale{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #070707de;
    border-radius: 10px;
}
.checkbox{
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
}
.consult, .likebox{
    box-shadow: 3px 3px 3px  rgb(36, 36, 36);
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}
.consult:hover, .likebox:hover{
    box-shadow: 1px 1px 1px rgb(36, 36, 36);
}
.check{
    display: none;
}